.title{
    font-family: 'Aguafina Script', cursive;
    text-align: center;
    font-size: 5em;
}

.header{
    background-image: url("pics/ghibliHeader.jpg");
 background-size: cover;
 margin-top:-3em;
}

.root{
    width: 100%;
    height: 700px;
}
#search{
    margin: 1em;
}
.dropDown{
    float: right;
}